.formDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 350px;
  height: 450px;
}

.formHeader {
  font-weight: 400;
  font-size: 45px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 30px;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.input {
  width: 330px;
  padding-bottom: 7px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(211, 219, 226);
}

.input {
  outline: none;
}

.formButton {
  align-items: center;
  appearance: none;
  background-color: wheat;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}


.formButton:hover {
 background-color: black;
 
}

.formButton:active {
  box-shadow: #3c4fe0 
}

.error {
  color: red;
}